#link-a{
    text-decoration: none !important;
  display: inline-block !important;
  font-size: 13px !important;
  font-weight: 400 !important;
  color: #fff !important;
  transition: color 600ms ease-in-out !important;
}
  #link-a:first-of-type,
  #link-a:hover {
    color: #63d471 !important;
  }
  @media (max-width: 1000px) {
      #link-a{
    padding: 14px 0 !important;
    width: 100% !important;
    font-size: 18px !important;}
  }