#logo-h2{
    color: #fff !important;
  /* font-size: 30px !important; */
  font-weight: 900 !important;
  line-height: 1 !important;
  margin-top: 8px !important;  
  cursor: pointer !important;}
#logo-span {
    color: #63d471 !important;}

    @media  only screen and (max-width: 600px) {
      #logo-h2{
      font-size: 20px !important;
    }
    }
