.member{
    width: 100% !important;
    padding: 120px 0 !important;
    text-align: center !important;
    background: url("../Image/gymOverlayBg.jpg") !important;
    background-repeat: no-repeat !important;
    contain: cover !important;
}
#member-h2 {
    color: #fff !important;
    font-weight: 900 !important;
    font-size: 36px !important;
    letter-spacing: 1.3px !important;
    line-height: 1 !important;
}
    #member-span {
      color: #63d471 !important;
    }

    #member-p {
        color: #fff !important;
        font-size: 16px !important;
        line-height: 2.0 !important;
        font-weight: normal !important;
        margin: 20px 0 !important;
      }
@media(max-width: 850px) {
    #member-h2{
      font-size: 30px !important;
    }
    #member-p{
      padding: 0 20px !important;
    }
    br{
        display: none !important;
      }
}